# importing library

In [25]:
import pandas as pd

In [26]:
pd.__version__

'2.3.2'

# pandas series with python list

In [27]:
lst = [1,2,3,4,5,6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [28]:
Series = pd.Series(lst)
print(Series)
print(type(Series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [29]:
empty = pd.Series([])
empty

Series([], dtype: object)

In [30]:
a = pd.Series(['p','q','r','s','t'], index = [10,11,12,13,14])
a

10    p
11    q
12    r
13    s
14    t
dtype: object

In [31]:
b = pd.Series(['p','q','r','s','t'], index = [10,11,12,13,14], name = 'alphabet')
b

10    p
11    q
12    r
13    s
14    t
Name: alphabet, dtype: object

In [32]:
scalar_Series = pd.Series(0.5)
scalar_Series

0    0.5
dtype: float64

In [33]:
scalar_Series = pd.Series(0.5,index = [1,2,3])
scalar_Series

1    0.5
2    0.5
3    0.5
dtype: float64

# pandas series with python dictionary

In [34]:
dict_Series = pd.Series({'p':1,'q':2,'r':3,'s':4})
dict_Series

p    1
q    2
r    3
s    4
dtype: int64

In [35]:
dict_Series[0]

C:\Users\thaku\AppData\Local\Temp\ipykernel_5748\2339455280.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dict_Series[0]

np.int64(1)

In [36]:
dict_Series[0:3]

p    1
q    2
r    3
dtype: int64

In [37]:
max(dict_Series)

4

In [38]:
import pandas as pd
b = {' RollNo.' :pd.Series([1,2,3,4,5]),
     'Maths': pd.Series([67,78,89,90,76]),
     'Physics': pd.Series([12,98,10,44,32])}

df = pd.DataFrame(b)
df

    RollNo.  Maths  Physics
0         1     67       12
1         2     78       98
2         3     89       10
3         4     90       44
4         5     76       32

# Reading CSV ( Common Seprated Values DataFrames)

In [39]:
df = pd.read_csv(r'C:\Users\thaku\OneDrive\Documents\Untitled spreadsheet.csv')
df

,S.No.,Full Name,Enrollment No.,Scholar no.,TOPICS
0,1,Akash Dwivedi,23ADV3ARI0046,22678,Regular expression
1,2,Avni Choudhary,23ADV3ARI0068,23543,grammer
2,3,Ansh Verma,23ADV3ARI0005,23701,Automata Theory
3,4,Krishna Goyal,23ADV3ARI0042,22673,DFA to NFA
4,5,Akash Nishod,23ADV3AR10004,24314,Grammer types
5,6,Parv sanothiya,23ADV3ARI0016,22251,Finite Automata (FA)
6,7,Kashish thakur,23ADV3ARI0031,25321,NFA to DFA
7,8,Astha rai,23ADV3ARI1029,23572,Deterministic Finite Automata (DFA)
8,9,Ashutosh Tagore,23ADV3ARI0006,24686,Non-Deterministic Finite Automata (NFA)
9,10,Rajesh Panika,23ADV3ARI0066,22803,Equivalence of DFA and NFA
10,11,Karan Seniya,23ADV3ARI0030,23927,Regular Expressions and Regular Languages
11,12,Ravi prajapat,23ADV3ARI0044,22614,Properties of Regular Languages (Pumping Lemma...
12,13,pankaj Rajput,23ADV3ARI0034,22590,Turning machine
13,14,Bharti Hammad,23ADV3ARI0049,23718,Pushdown Automata (PDA)
14,15,Jayesh Kudaliya,23ADV3ARI0063,24185,Arden's theory
15,16,Snehal Sisodiya,23ADV3ARI0055,23294,For Context-Free Languages (CFL)
16,17,Aaditya Vishwakarma,23ADV3ARI0001,22848,Stack memory
17,18,muskan kumawat,23ADV3ARI0051,22277,Relation to Context-Free Grammars (CFG)
18,19,Anshuman Mishra,23ADV3ARI0048,22414,DFA Minimization
19,20,Khushi Darvai,23ADV3ARI0011,24207,Turing Machines (TM)
20,21,Darshana Chauhan,23ADV3ARI0007,23187,PDA and CFG
21,22,Rohit Sendhav,23ADV3ARI0018,22872,Moore machine
22,23,Akshat pandya,23ADV3ARI0026,22123,Pushdown Automata (PDA)
23,24,Anmol Singh Thakur,23ADV3ARI0047,23163,Arden's theory
24,25,Lavesh Chouhan,23ADV3ARI0015,24771,DFA Minimization
25,26,Aditiya malviya,23ADV3ARI0003,23861,Turing Machines (TM)
26,27,Harsh Sharma,23ADV3ARI0064,25261,Grammer
27,28,pranab Mondal,23ADV3ARI0036,23182,PDA and CFG
28,29,Ronak Awasthi,23ADV3ARI1053,24047,Deterministic Finite Automata (DFA)
29,30,kanha chandrawanshi,23ADV3ARI0010,22687,Non-Deterministic Finite Automata (NFA)
30,31,Astha jain,23ADV3ARI1062,24205,Equivalence of DFA and NFA
31,32,Sameer chakravedi,23ADV3ARI0075,24289,Regular Expressions and Regular Languages
32,33,Sachin awachare,SACHIN,24199,Properties of Regular Languages (Pumping Lemma...
33,34,Abhay Singh,23ADV3ARI1024,23578,DFA to NFA
34,35,Roshan Chouhan,23ADV3ARI0019,25126,Pushdown Automata (PDA)
35,36,Hardik Verma,23ADV3ARI0070,23528,PDA and CFG
36,37,Saavan Solanki,23ADV3ARI0045,23449,For Context-Free Languages (CFL)
37,38,Shahniyaz sheikh,23ADV3ARI0076,23164,Stack memory
38,39,Nikunj Solanki,23ADV3ARI1052,22853,Relation to Context-Free Grammars (CFG)
39,40,kuldeep,23ADV3ARI0014,23845,NFA to DFA
40,41,prince yadav,23ADV3ARI1082,25313,Turing Machines (TM)
41,42,Ricky Nirwal,23ADV3ARI0085,24412,Grammer types

In [40]:
type(df)

pandas.core.frame.DataFrame

# DataFrame Function

In [41]:
import pandas as pd
df = pd.read_csv(r'C:\Users\thaku\OneDrive\Documents\Untitled spreadsheet.csv')

df.columns

Index(['S.No.', 'Full Name', 'Enrollment No.', 'Scholar no.', 'TOPICS'], dtype='object')

In [42]:
df.size

210

In [43]:
df.shape

(42, 5)

In [44]:
df.head

<bound method NDFrame.head of     S.No.            Full Name Enrollment No.  Scholar no.  \
0       1        Akash Dwivedi  23ADV3ARI0046        22678
1       2       Avni Choudhary  23ADV3ARI0068        23543
2       3           Ansh Verma  23ADV3ARI0005        23701
3       4        Krishna Goyal  23ADV3ARI0042        22673
4       5         Akash Nishod  23ADV3AR10004        24314
5       6       Parv sanothiya  23ADV3ARI0016        22251
6       7       Kashish thakur  23ADV3ARI0031        25321
7       8            Astha rai  23ADV3ARI1029        23572
8       9      Ashutosh Tagore  23ADV3ARI0006        24686
9      10        Rajesh Panika  23ADV3ARI0066        22803
10     11         Karan Seniya  23ADV3ARI0030        23927
11     12        Ravi prajapat  23ADV3ARI0044        22614
12     13        pankaj Rajput  23ADV3ARI0034        22590
13     14        Bharti Hammad  23ADV3ARI0049        23718
14     15      Jayesh Kudaliya  23ADV3ARI0063        24185
15     16      Snehal Sisodiya  23ADV3ARI0055        23294
16     17  Aaditya Vishwakarma  23ADV3ARI0001        22848
17     18       muskan kumawat  23ADV3ARI0051        22277
18     19      Anshuman Mishra  23ADV3ARI0048        22414
19     20        Khushi Darvai  23ADV3ARI0011        24207
20     21     Darshana Chauhan  23ADV3ARI0007        23187
21     22        Rohit Sendhav  23ADV3ARI0018        22872
22     23        Akshat pandya  23ADV3ARI0026        22123
23     24   Anmol Singh Thakur  23ADV3ARI0047        23163
24     25       Lavesh Chouhan  23ADV3ARI0015        24771
25     26      Aditiya malviya  23ADV3ARI0003        23861
26     27         Harsh Sharma  23ADV3ARI0064        25261
27     28        pranab Mondal  23ADV3ARI0036        23182
28     29        Ronak Awasthi  23ADV3ARI1053        24047
29     30  kanha chandrawanshi  23ADV3ARI0010        22687
30     31           Astha jain  23ADV3ARI1062        24205
31     32    Sameer chakravedi  23ADV3ARI0075        24289
32     33      Sachin awachare         SACHIN        24199
33     34          Abhay Singh  23ADV3ARI1024        23578
34     35       Roshan Chouhan  23ADV3ARI0019        25126
35     36         Hardik Verma  23ADV3ARI0070        23528
36     37       Saavan Solanki  23ADV3ARI0045        23449
37     38     Shahniyaz sheikh  23ADV3ARI0076        23164
38     39       Nikunj Solanki  23ADV3ARI1052        22853
39     40              kuldeep  23ADV3ARI0014        23845
40     41         prince yadav  23ADV3ARI1082        25313
41     42         Ricky Nirwal  23ADV3ARI0085        24412

                                               TOPICS
0                                  Regular expression
1                                             grammer
2                                     Automata Theory
3                                         DFA  to NFA
4                                       Grammer types
5                                Finite Automata (FA)
6                                          NFA to DFA
7                 Deterministic Finite Automata (DFA)
8             Non-Deterministic Finite Automata (NFA)
9                          Equivalence of DFA and NFA
10          Regular Expressions and Regular Languages
11  Properties of Regular Languages (Pumping Lemma...
12                                    Turning machine
13                            Pushdown Automata (PDA)
14                                     Arden's theory
15                   For Context-Free Languages (CFL)
16                                       Stack memory
17            Relation to Context-Free Grammars (CFG)
18                                   DFA Minimization
19                               Turing Machines (TM)
20                                        PDA and CFG
21                                      Moore machine
22                            Pushdown Automata (PDA)
23                                     Arden's theory
24                                   DFA Minimization
25                               Turing Machines (TM)
26                                            Grammer
27                                        PDA and CFG
28                Deterministic Finite Automata (DFA)
29            Non-Deterministic Finite Automata (NFA)
30                         Equivalence of DFA and NFA
31          Regular Expressions and Regular Languages
32  Properties of Regular Languages (Pumping Lemma...
33                                         DFA to NFA
34                            Pushdown Automata (PDA)
35                                        PDA and CFG
36                   For Context-Free Languages (CFL)
37                                       Stack memory
38            Relation to Context-Free Grammars (CFG)
39                                         NFA to DFA
40                               Turing Machines (TM)
41                                      Grammer types  >

In [45]:
df.head(15)

,S.No.,Full Name,Enrollment No.,Scholar no.,TOPICS
0,1,Akash Dwivedi,23ADV3ARI0046,22678,Regular expression
1,2,Avni Choudhary,23ADV3ARI0068,23543,grammer
2,3,Ansh Verma,23ADV3ARI0005,23701,Automata Theory
3,4,Krishna Goyal,23ADV3ARI0042,22673,DFA to NFA
4,5,Akash Nishod,23ADV3AR10004,24314,Grammer types
5,6,Parv sanothiya,23ADV3ARI0016,22251,Finite Automata (FA)
6,7,Kashish thakur,23ADV3ARI0031,25321,NFA to DFA
7,8,Astha rai,23ADV3ARI1029,23572,Deterministic Finite Automata (DFA)
8,9,Ashutosh Tagore,23ADV3ARI0006,24686,Non-Deterministic Finite Automata (NFA)
9,10,Rajesh Panika,23ADV3ARI0066,22803,Equivalence of DFA and NFA
10,11,Karan Seniya,23ADV3ARI0030,23927,Regular Expressions and Regular Languages
11,12,Ravi prajapat,23ADV3ARI0044,22614,Properties of Regular Languages (Pumping Lemma...
12,13,pankaj Rajput,23ADV3ARI0034,22590,Turning machine
13,14,Bharti Hammad,23ADV3ARI0049,23718,Pushdown Automata (PDA)
14,15,Jayesh Kudaliya,23ADV3ARI0063,24185,Arden's theory

In [46]:
df.tail(10)

,S.No.,Full Name,Enrollment No.,Scholar no.,TOPICS
32,33,Sachin awachare,SACHIN,24199,Properties of Regular Languages (Pumping Lemma...
33,34,Abhay Singh,23ADV3ARI1024,23578,DFA to NFA
34,35,Roshan Chouhan,23ADV3ARI0019,25126,Pushdown Automata (PDA)
35,36,Hardik Verma,23ADV3ARI0070,23528,PDA and CFG
36,37,Saavan Solanki,23ADV3ARI0045,23449,For Context-Free Languages (CFL)
37,38,Shahniyaz sheikh,23ADV3ARI0076,23164,Stack memory
38,39,Nikunj Solanki,23ADV3ARI1052,22853,Relation to Context-Free Grammars (CFG)
39,40,kuldeep,23ADV3ARI0014,23845,NFA to DFA
40,41,prince yadav,23ADV3ARI1082,25313,Turing Machines (TM)
41,42,Ricky Nirwal,23ADV3ARI0085,24412,Grammer types

In [47]:
df.describe()

           S.No.   Scholar no.
count  42.000000     42.000000
mean   21.500000  23588.833333
std    12.267844    882.102696
min     1.000000  22123.000000
25%    11.250000  22849.250000
50%    21.500000  23557.500000
75%    31.750000  24203.500000
max    42.000000  25321.000000

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S.No.           42 non-null     int64
 1   Full Name       42 non-null     object
 2   Enrollment No.  42 non-null     object
 3   Scholar no.     42 non-null     int64
 4   TOPICS          42 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.8+ KB

# HANDLING MISSING VALUES

In [49]:
import pandas as pd

df = pd.read_csv(r'C:\Users\thaku\OneDrive\Documents\Email ID SECTION B .csv') 
df.head()

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327

In [50]:
df.isnull()

    Timestamp   Name  Email id   Mobile number
0       False  False      False           False
1       False  False      False           False
2       False  False      False           False
3       False  False      False           False
4       False  False      False           False
..        ...    ...        ...             ...
58       True  False      False           False
59      False  False      False           False
60      False  False      False           False
61      False  False      False           False
62      False  False      False           False

[63 rows x 4 columns]

In [51]:
df.isnull().sum()

Timestamp         7
Name              2
Email id          1
Mobile number     3
dtype: int64

In [52]:
df.isnull().sum().sum()

np.int64(13)

# Dropping columns with NaN values

In [53]:
df.shape

(63, 4)

In [54]:
df2 = df.dropna()# default axis = 0

In [55]:
df2.shape

(50, 4)

# Dropping columns with NaN values

In [56]:
df3 = df.dropna(axis = 1) # axis = 1 for columns

In [57]:
df3.shape

(63, 0)

In [58]:
df.dropna(how = 'all') # if all row vaues is null then remove that row

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,NaN,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [60]:
df.dropna(how ='any') # if any row vaues is null then remove that row

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
5,17/08/2024 16:01:04,Ani Mishra,ani30mishra@gmail.com,9179676150
6,17/08/2024 17:15:59,Ansh jain,anshbtechd.s@gmail.com,8602603431
7,17/08/2024 10:45:10,Arpit Yadav,arpityadav2424@gmail.com,9111445008
9,15/09/2024 23:55:59,Ayushi Shukla,ayushishukla960@gmail.com,9555306766
10,17/08/2024 12:13:29,Bhumika Rathore,rathore7828@ Gmail.com,9630711333
11,17/08/2024 12:25:35,Dhruvin Chavda,dhruv.frags@gmail.com,7058982808
12,17/08/2024 12:05:23,Dipendra Barde,dipendrabarde0@gmail.com,9399578766
13,13/09/2024 23:55:59,Jayesh Kudaliya,kudaliyajayesh@gmail.com,9109073397
14,17/08/2024 14:26:09,Kamal Nayan Shukla,nirnjanshukla915@gmail.com,08896562398
15,17/08/2024 13:29:19,kanishq Raj Piplad,kanishqpiplad@gmail.com,8085671055
17,17/08/2024 20:13:40,Khushi Patidar,khushipatidar496@gmail.com,8839040403
18,17/08/2024 11:54:19,Kirten Dubey,kirtendubey2004@gmail.com,9981986110
19,17/08/2024 11:50:36,Kshama Jha,kshamajha005@gmail.com,7460090611
20,11/10/2025 12:24:12,kuldeep Ahirwar,kuldeepahirwar533@gmail.com,9522292807
21,17/08/2024 13:10:23,Lavesh chouhan,laveshchouhan466@gmail.com,9589420223
23,17/08/2024 11:57:33,Mahesh parihar,Pariharmahesh291@gmail.com,9301742963
24,17/09/2024 23:55:59,Mohd.Anas,Khan706704@gmail.com,7067043139
25,17/08/2024 12:00:44,Nikhil Sahu,nikhilsahu896503@gmail.com,918965038829
27,17/08/2024 12:24:43,Pawan yadav,pawanyadav524028@gmail.com,7470324200
28,17/08/2024 10:33:24,Piyush Jaiswal,jaiswalpiyush839@gmail.com,9301793557
30,17/08/2024 11:57:38,Pranay Savdekar,Pranaysavdekar4@gamil.com,8964096950
31,17/08/2024 13:19:53,Prashant Yogi,Prashantyogi16@gmail.com,8975058215
34,17/08/2024 11:51:28,Reena kushwaha,reenakushwaha84509@gmail.com,6267125764
35,16/09/2024 23:55:59,Ruchika Sharma,khushisharma61430@gmail.com,8643003968
36,17/08/2024 12:12:39,Rupesh Singh Suryavanshi,rupeshsinghsuryavanshi42@gmail.com,8103582274
37,17/08/2024 12:14:09,Sagar kethwas,Sagarkethwas1122@gmail.com,7470371323
38,17/08/2024 20:18:09,Saloni,smukati2006@gmail.com,9302408061
39,19/08/2024 13:51:22,Saloni badiya,salonibadiya1607@gmail.com,7828097014
41,17/08/2024 13:00:30,Sandhya Bhati,Sandhyabhati3842@gmail.com,", 9302164941"
43,12/09/2024 23:55:59,Sanjoo Ahirwar,sanjooahirwar99@gmail.com,6263205057
44,17/08/2024 14:12:15,Shivam Kushwaha,shivamkushwaha55675@gmail.com,9302879616
45,17/08/2024 10:58:40,Shivraj Singh,Shivrajchouhansingh490@gmail.com,8770947024
46,17/08/2024 11:52:29,Shubhi tripathi,Tripathishshubhi@gmail.com,9335486571
48,18/09/2024 23:55:59,Soham Singh thakur,sohamt228@gmail.com,9685685102
49,17/08/2024 10:35:27,Sonal chhapre,Sonalchhapre2@gmail.com,9244171739
50,17/08/2024 11:43:17,Sparsh Pal Jadoun,sparshpaljadoun@gmail.com,8103230015
51,17/08/2024 11:20:06,Sumit Yadav,sumoyadav550@gmail.com,8720024344
52,17/08/2024 11:23:40,Tanisha rathore,tanisharathore9981@gmail.com,8085828210
53,17/08/2024 11:52:26,Taniya Arya,taniyaarya04@gmail.com,9244390895
54,17/08/2024 11:43:04,TUSHAR KAUSHIK,tushar0710k@gmail.com,8602198299
57,17/08/2024 10:33:37,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

# Filling the null values

In [61]:
df.fillna(0)

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,0,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [62]:
df.fillna({'Timestamp':'none', 'Name':0,'Email.ID':00})

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,none,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [63]:
df.fillna(method = 'ffill')

C:\Users\thaku\AppData\Local\Temp\ipykernel_5748\1145651979.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill')

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,17/08/2024 10:33:37,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [64]:
df.fillna(method = 'ffill',axis = 1)

C:\Users\thaku\AppData\Local\Temp\ipykernel_5748\850267137.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill',axis = 1)

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,NaN,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [65]:
df.fillna(method = 'bfill')

C:\Users\thaku\AppData\Local\Temp\ipykernel_5748\3673297803.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'bfill')

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,17/08/2024 10:35:19,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [66]:
df.fillna(method = 'ffill',inplace = True)
df

C:\Users\thaku\AppData\Local\Temp\ipykernel_5748\3345110330.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill',inplace = True)

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,17/08/2024 16:25:19,Aliza shaikh,alizashaikh2054@gmail.com,8815566560
2,17/08/2024 19:38:09,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,17/08/2024 10:33:37,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

# REPLACE

In [70]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\thaku\OneDrive\Documents\Email ID SECTION B .csv') 
df1.head()

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,222,Aliza shaikh,alizashaikh2054@gmail.com,881556656
2,222,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327

In [71]:
df1.replace(to_replace = 222, value = 100)

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,222,Aliza shaikh,alizashaikh2054@gmail.com,881556656
2,222,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,NaN,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [72]:
df1.replace(222,100)

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,222,Aliza shaikh,alizashaikh2054@gmail.com,881556656
2,222,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,NaN,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [73]:
df1.replace(to_replace = 'YASHODHAN PANDEY',value = 0)

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,222,Aliza shaikh,alizashaikh2054@gmail.com,881556656
2,222,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,NaN,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,0,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [74]:
df.replace('[A-Za-z]',0)

,Timestamp,Name,Email id,Mobile number
0,17/08/2024 11:09:56,Akash Sahani,ashn2005151@gmail.com,6232284821
1,222,Aliza shaikh,alizashaikh2054@gmail.com,881556656
2,222,Aman jagtap,amanjagtap7175@gmail.com,8964947175
3,17/08/2024 11:53:47,Aman Pratap Singh Rajawat,amanpratapsinghrajawat15@gmail.com,9936361348
4,17/08/2024 11:07:27,Amar Narwariya,amarnarwariya72@gmail.com,80857 20327
...,...,...,...,...
58,NaN,Vivek Kumar Chaudhari,vivekbagha2003@gmail.com,9977573917
59,17/08/2024 10:35:19,Vivek Nishad,viveknishadji@gmail.com,9244042135
60,17/08/2024 12:46:25,YASHODHAN PANDEY,pandeyyashodhan@gmail.com,7999562191
61,17/08/2024 10:49:35,yuvraj kaurav,yuvrajkaurav28@gmail.com,9981191200
62,17/08/2024,pradeep kochale,pradeepkochle26@gmail.com,7247450722

In [76]:
df.replace('[A-Za-z]',0,regex = True)

C:\Users\thaku\AppData\Local\Temp\ipykernel_5748\1377625179.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('[A-Za-z]',0,regex = True)

              Timestamp  Name  Email id  Mobile number
0   17/08/2024 11:09:56   0.0        0.0     6232284821
1                   222   0.0        0.0      881556656
2                   222   0.0        0.0     8964947175
3   17/08/2024 11:53:47   0.0        0.0     9936361348
4   17/08/2024 11:07:27   0.0        0.0   80857 20327
..                  ...   ...        ...            ...
58                  NaN   0.0        0.0     9977573917
59  17/08/2024 10:35:19   0.0        0.0     9244042135
60  17/08/2024 12:46:25   0.0        0.0     7999562191
61  17/08/2024 10:49:35   0.0        0.0     9981191200
62           17/08/2024   0.0        0.0     7247450722

[63 rows x 4 columns]

# Location

In [79]:
df = pd.read_csv(r'C:\Users\thaku\OneDrive\Documents\Untitled spreadsheet.csv',
                 index_col = ['Enrollment No.'])
df.head()

                S.No.       Full Name  Scholar no.              TOPICS
Enrollment No.
23ADV3ARI0046       1   Akash Dwivedi        22678  Regular expression
23ADV3ARI0068       2  Avni Choudhary        23543             grammer
23ADV3ARI0005       3      Ansh Verma        23701     Automata Theory
23ADV3ARI0042       4   Krishna Goyal        22673         DFA  to NFA
23ADV3AR10004       5    Akash Nishod        24314       Grammer types

In [81]:
df.iloc[1]

S.No.                       2
Full Name      Avni Choudhary
Scholar no.             23543
TOPICS                grammer
Name: 23ADV3ARI0068, dtype: object

# pivot table

In [93]:
pd.pivot_table(df, index='S.No.', aggfunc='count')

       Full Name  Scholar no.  TOPICS
S.No.
1              1            1       1
2              1            1       1
3              1            1       1
4              1            1       1
5              1            1       1
6              1            1       1
7              1            1       1
8              1            1       1
9              1            1       1
10             1            1       1
11             1            1       1
12             1            1       1
13             1            1       1
14             1            1       1
15             1            1       1
16             1            1       1
17             1            1       1
18             1            1       1
19             1            1       1
20             1            1       1
21             1            1       1
22             1            1       1
23             1            1       1
24             1            1       1
25             1            1       1
26             1            1       1
27             1            1       1
28             1            1       1
29             1            1       1
30             1            1       1
31             1            1       1
32             1            1       1
33             1            1       1
34             1            1       1
35             1            1       1
36             1            1       1
37             1            1       1
38             1            1       1
39             1            1       1
40             1            1       1
41             1            1       1
42             1            1       1

In [94]:
pd.pivot_table(df.select_dtypes('number'), index='S.No.')

       Scholar no.
S.No.
1          22678.0
2          23543.0
3          23701.0
4          22673.0
5          24314.0
6          22251.0
7          25321.0
8          23572.0
9          24686.0
10         22803.0
11         23927.0
12         22614.0
13         22590.0
14         23718.0
15         24185.0
16         23294.0
17         22848.0
18         22277.0
19         22414.0
20         24207.0
21         23187.0
22         22872.0
23         22123.0
24         23163.0
25         24771.0
26         23861.0
27         25261.0
28         23182.0
29         24047.0
30         22687.0
31         24205.0
32         24289.0
33         24199.0
34         23578.0
35         25126.0
36         23528.0
37         23449.0
38         23164.0
39         22853.0
40         23845.0
41         25313.0
42         24412.0